.agf-menu-btn {
  border-radius: 48px;
  border: 0.5px solid lightgrey;
  font-size: 0.9em;
  padding: 2px 10px;
  background-color: white;
}

.agf-question-list-search {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.agf-menu {
  z-index: 200;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
}

.agf-question-label {
  padding: 12px 16px;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.agf-menu label:hover {
  background-color: #ddd;
}
